---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://go-review.googlesource.com/projects/sys/commits/bc7a7d42d5c30f4d0fe808715c002826ce2c624e
    method: GET
  response:
    body: |
      )]}'
      {
        "commit": "bc7a7d42d5c30f4d0fe808715c002826ce2c624e",
        "parents": [
          {
            "commit": "10377860bb8e8e259ba97296f3b7656772f975bc",
            "subject": "unix: replace blocked dup2 calls with dup3 on Android"
          }
        ],
        "author": {
          "name": "Tobias Klauser",
          "email": "tklauser@distanz.ch",
          "date": "2020-05-01 14:24:05.000000000",
          "tz": 120
        },
        "committer": {
          "name": "Bryan C. Mills",
          "email": "bcmills@google.com",
          "date": "2020-05-01 14:52:40.000000000",
          "tz": 0
        },
        "subject": "internal/unsafeheader: fix typos in comments",
        "message": "internal/unsafeheader: fix typos in comments\n\nThe typos in the package godoc comment were pointed out in CL 231223\nwhich added similar functionality to the main Go repository. Also\ncorrect the name in the godoc comment for type String.\n\nChange-Id: I69910f3e24b1222190e1adf7fc3d425f0006f96e\nReviewed-on: https://go-review.googlesource.com/c/sys/+/231517\nRun-TryBot: Tobias Klauser \u003ctobias.klauser@gmail.com\u003e\nTryBot-Result: Gobot Gobot \u003cgobot@golang.org\u003e\nReviewed-by: Bryan C. Mills \u003cbcmills@google.com\u003e\n"
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://go-review.googlesource.com/projects/sys/branches/master
    method: GET
  response:
    body: |
      )]}'
      {
        "web_links": [
          {
            "name": "gitiles",
            "url": "https://go.googlesource.com/sys/+/refs/heads/master",
            "target": "_blank"
          }
        ],
        "ref": "refs/heads/master",
        "revision": "bc7a7d42d5c30f4d0fe808715c002826ce2c624e"
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://go-review.googlesource.com/projects/sys/tags
    method: GET
  response:
    body: |
      )]}'
      []
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
