---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.github.com/repos/golang/net/commits/d3edc9973b7e
    method: GET
  response:
    body: '{"sha":"d3edc9973b7eb1fb302b0ff2c62357091cea9a30","node_id":"MDY6Q29tbWl0Mjc1MjIyNzE6ZDNlZGM5OTczYjdlYjFmYjMwMmIwZmYyYzYyMzU3MDkxY2VhOWEzMA==","commit":{"author":{"name":"Tobias
      Klauser","email":"tklauser@distanz.ch","date":"2020-03-24T14:35:11Z"},"committer":{"name":"Tobias
      Klauser","email":"tobias.klauser@gmail.com","date":"2020-03-24T14:37:07Z"},"message":"go.mod:
      update golang.org/x/sys to fix riscv64 build\n\nDone using:\n\n  go get golang.org/x/sys/unix@latest\n  go
      mod tidy\n\nUpdates golang/go#27532\n\nChange-Id: Ibb984f35d969b4f93a492f24560bc957f9dafb65\nReviewed-on:
      https://go-review.googlesource.com/c/net/+/217359\nRun-TryBot: Tobias Klauser
      <tobias.klauser@gmail.com>\nReviewed-by: Dmitri Shuralyov <dmitshur@golang.org>","tree":{"sha":"3fad75bea9e9b6ba7f021ce9f63a552f85a947d9","url":"https://api.github.com/repos/golang/net/git/trees/3fad75bea9e9b6ba7f021ce9f63a552f85a947d9"},"url":"https://api.github.com/repos/golang/net/git/commits/d3edc9973b7eb1fb302b0ff2c62357091cea9a30","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/golang/net/commits/d3edc9973b7eb1fb302b0ff2c62357091cea9a30","html_url":"https://github.com/golang/net/commit/d3edc9973b7eb1fb302b0ff2c62357091cea9a30","comments_url":"https://api.github.com/repos/golang/net/commits/d3edc9973b7eb1fb302b0ff2c62357091cea9a30/comments","author":{"login":"tklauser","id":539708,"node_id":"MDQ6VXNlcjUzOTcwOA==","avatar_url":"https://avatars2.githubusercontent.com/u/539708?v=4","gravatar_id":"","url":"https://api.github.com/users/tklauser","html_url":"https://github.com/tklauser","followers_url":"https://api.github.com/users/tklauser/followers","following_url":"https://api.github.com/users/tklauser/following{/other_user}","gists_url":"https://api.github.com/users/tklauser/gists{/gist_id}","starred_url":"https://api.github.com/users/tklauser/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tklauser/subscriptions","organizations_url":"https://api.github.com/users/tklauser/orgs","repos_url":"https://api.github.com/users/tklauser/repos","events_url":"https://api.github.com/users/tklauser/events{/privacy}","received_events_url":"https://api.github.com/users/tklauser/received_events","type":"User","site_admin":false},"committer":{"login":"tklauser","id":539708,"node_id":"MDQ6VXNlcjUzOTcwOA==","avatar_url":"https://avatars2.githubusercontent.com/u/539708?v=4","gravatar_id":"","url":"https://api.github.com/users/tklauser","html_url":"https://github.com/tklauser","followers_url":"https://api.github.com/users/tklauser/followers","following_url":"https://api.github.com/users/tklauser/following{/other_user}","gists_url":"https://api.github.com/users/tklauser/gists{/gist_id}","starred_url":"https://api.github.com/users/tklauser/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tklauser/subscriptions","organizations_url":"https://api.github.com/users/tklauser/orgs","repos_url":"https://api.github.com/users/tklauser/repos","events_url":"https://api.github.com/users/tklauser/events{/privacy}","received_events_url":"https://api.github.com/users/tklauser/received_events","type":"User","site_admin":false},"parents":[{"sha":"118fecf932d8fea033f3b7aca66fba22cfdd517d","url":"https://api.github.com/repos/golang/net/commits/118fecf932d8fea033f3b7aca66fba22cfdd517d","html_url":"https://github.com/golang/net/commit/118fecf932d8fea033f3b7aca66fba22cfdd517d"}],"stats":{"total":6,"additions":5,"deletions":1},"files":[{"sha":"0ea9a5f133ad2d55f8ca93b09f2c3695f0499147","filename":"go.mod","status":"modified","additions":1,"deletions":1,"changes":2,"blob_url":"https://github.com/golang/net/blob/d3edc9973b7eb1fb302b0ff2c62357091cea9a30/go.mod","raw_url":"https://github.com/golang/net/raw/d3edc9973b7eb1fb302b0ff2c62357091cea9a30/go.mod","contents_url":"https://api.github.com/repos/golang/net/contents/go.mod?ref=d3edc9973b7eb1fb302b0ff2c62357091cea9a30","patch":"@@
      -4,6 +4,6 @@ go 1.11\n \n require (\n \tgolang.org/x/crypto v0.0.0-20190308221718-c2843e01d9a2\n-\tgolang.org/x/sys
      v0.0.0-20190215142949-d0b11bdaac8a\n+\tgolang.org/x/sys v0.0.0-20200323222414-85ca7c5b95cd\n
      \tgolang.org/x/text v0.3.0\n )"},{"sha":"646032b0d78b153072537381c7c29a732ead36a9","filename":"go.sum","status":"modified","additions":2,"deletions":0,"changes":2,"blob_url":"https://github.com/golang/net/blob/d3edc9973b7eb1fb302b0ff2c62357091cea9a30/go.sum","raw_url":[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://go-review.googlesource.com/projects/net/commits/d3edc9973b7eb1fb302b0ff2c62357091cea9a30
    method: GET
  response:
    body: |
      )]}'
      {
        "commit": "d3edc9973b7eb1fb302b0ff2c62357091cea9a30",
        "parents": [
          {
            "commit": "118fecf932d8fea033f3b7aca66fba22cfdd517d",
            "subject": "http2/h2demo: update gopher image URL"
          }
        ],
        "author": {
          "name": "Tobias Klauser",
          "email": "tklauser@distanz.ch",
          "date": "2020-03-24 14:35:11.000000000",
          "tz": 60
        },
        "committer": {
          "name": "Tobias Klauser",
          "email": "tobias.klauser@gmail.com",
          "date": "2020-03-24 14:37:07.000000000",
          "tz": 0
        },
        "subject": "go.mod: update golang.org/x/sys to fix riscv64 build",
        "message": "go.mod: update golang.org/x/sys to fix riscv64 build\n\nDone using:\n\n  go get golang.org/x/sys/unix@latest\n  go mod tidy\n\nUpdates golang/go#27532\n\nChange-Id: Ibb984f35d969b4f93a492f24560bc957f9dafb65\nReviewed-on: https://go-review.googlesource.com/c/net/+/217359\nRun-TryBot: Tobias Klauser \u003ctobias.klauser@gmail.com\u003e\nReviewed-by: Dmitri Shuralyov \u003cdmitshur@golang.org\u003e\n"
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://go-review.googlesource.com/projects/net/branches/master
    method: GET
  response:
    body: |
      )]}'
      {
        "web_links": [
          {
            "name": "gitiles",
            "url": "https://go.googlesource.com/net/+/refs/heads/master",
            "target": "_blank"
          }
        ],
        "ref": "refs/heads/master",
        "revision": "ff2c4b7c35a07b0c1e90ce72aa7bfe41bb66a3cb"
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://go-review.googlesource.com/projects/net/tags
    method: GET
  response:
    body: |
      )]}'
      []
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.github.com/repos/golang/text/commits/v0.3.2
    method: GET
  response:
    body: "{\"sha\":\"342b2e1fbaa52c93f31447ad2c6abc048c63e475\",\"node_id\":\"MDY6Q29tbWl0Mjc1MjIyOTU6MzQyYjJlMWZiYWE1MmM5M2YzMTQ0N2FkMmM2YWJjMDQ4YzYzZTQ3NQ==\",\"commit\":{\"author\":{\"name\":\"Marcel
      van Lohuizen\",\"email\":\"mpvl@golang.org\",\"date\":\"2018-12-15T17:52:45Z\"},\"committer\":{\"name\":\"Marcel
      van Lohuizen\",\"email\":[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://go-review.googlesource.com/projects/text/commits/342b2e1fbaa52c93f31447ad2c6abc048c63e475
    method: GET
  response:
    body: |
      )]}'
      {
        "commit": "342b2e1fbaa52c93f31447ad2c6abc048c63e475",
        "parents": [
          {
            "commit": "b1379a7b4714109485d36884eea575780d466cbd",
            "subject": "gen.go: update due to changes to core"
          }
        ],
        "author": {
          "nam[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://go-review.googlesource.com/projects/text/branches/master
    method: GET
  response:
    body: |
      )]}'
      {
        "web_links": [
          {
            "name": "gitiles",
            "url": "https://go.googlesource.com/text/+/refs/heads/master",
            "target": "_blank"
          }
        ],
        "ref": "refs/heads/master",
        "revision": "6ca2caf96f159660c33dae334f64e31e5da91752"
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://go-review.googlesource.com/projects/text/tags
    method: GET
  response:
    body: |
      )]}'
      [
        {
          "object": "ab5ac5f9a8deb4855a60fab02bc61a4ec770bd49",
          "message": "First tagged release",
          "tagger": {
            "name": "Marcel van Lohuizen",
            "email": "mpvl@golang.org",
            "date": "2018-02-21 16:04:59.000000000",
            "tz": 60
          },
          "created": "2018-02-21 16:04:59.000000000",
          "ref": "refs/tags/v0.1.0",
          "revision": "3975530312150b199aa21861e2dc7c440a5bc6a1"
        },
        {
          "object": "c4d099d611ac3ded35360abf03581e13d91c828f",
          "message": "Multiple Unicode version support",
          "tagger": {
            "name": "Marcel van Lohuizen",
            "email": "mpvl@golang.org",
            "date": "2018-02-21 16:13:31.000000000",
            "tz": 60
          },
          "created": "2018-02-[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.github.com/repos/googleapis/google-cloud-go/commits/v0.54.0
    method: GET
  response:
    body: '{"sha":"a6b88cf34a491498e4c7d15c107a31058693e2cb","node_id":"MDY6Q29tbWl0MTk2MDg1MjI6YTZiODhjZjM0YTQ5MTQ5OGU0YzdkMTVjMTA3YTMxMDU4NjkzZTJjYg==","commit":{"author":{"name":"Cody
      Oss","email":"codyoss@google.com","date":"2020-03-05T17:51:45Z"},"committer":{"name":"Cody
      Oss","email":"codyoss@google.com","date":"2020-0[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://code-review.googlesource.com/projects/gocloud/commits/a6b88cf34a491498e4c7d15c107a31058693e2cb
    method: GET
  response:
    body: |
      )]}'
      {
        "commit": "a6b88cf34a491498e4c7d15c107a31058693e2cb",
        "parents": [
          {
            "commit": "39bd8dac9fa47f3de153e1c8d9089a41c0c4cfa1",
            "subject": "internal: fix release level for errorreporting to match product"
          }
        ],
        "author": {
          "name": "Cody Oss",
          "email": "codyoss@google.com",
          "date": "2020-03-05 17:51:45.000000000",
          "tz": -420
        },
        "committer": {
          "name": "Cody Oss",
          "email": "codyoss@google.com",
          "date": "2020-03-05 18:01:17.000000000",
          "tz": 0
        },
        "subject": "all: release v0.54.0",
        "message": "all: release v0.54.0\n\nThis commit will be tagged v0.54.0.\n\nChange-Id: I2b414c83f9582135aab3179f226b403af4b2cd27\nReviewed-on: https://code-review.googlesource.com/c/gocloud/+/52912\nReviewed-by: Noah Dietz \u003cndietz@google.com\u003e\n"
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://code-review.googlesource.com/projects/gocloud/branches/master
    method: GET
  response:
    body: |
      )]}'
      {
        "web_links": [
          {
            "name": "gitiles",
            "url": "https://code.googlesource.com/gocloud/+/refs/heads/master",
            "target": "_blank"
          }
        ],
        "ref": "refs/heads/master",
        "revision": "35ee6fba71d7166e4e6e68d22182bb590d7e7da2"
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://code-review.googlesource.com/projects/gocloud/tags
    method: GET
  response:
    body: |
      )]}'
      [
        {
          "created": "2019-08-13 14:25:52.000000000",
          "ref": "refs/tags/bigquery/v1.0.0",
          "revision": "c498a8335f5bc0f6eeec5ba68bef9f242770ed4c"
        },
        {
          "created": "2019-08-13 14:35:08.000000000",
          "ref": "refs/tags/bigquery/v1.0.1",
          "revision": "6[...]
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://go-review.googlesource.com/projects/lint/commits/738671d3881b9731cc63024d5d88cf28db875626
    method: GET
  response:
    body: |
      )]}'
      {
        "commit": "738671d3881b9731cc63024d5d88cf28db875626",
        "parents": [
          {
            "commit": "910be7a94367618fd0fd25eaabbee4fdc0ac7092",
            "subject": "lint: update x/tools version"
          }
        ],
        "author": {
          "name": "Bill[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://go-review.googlesource.com/projects/lint/branches/master
    method: GET
  response:
    body: |
      )]}'
      {
        "web_links": [
          {
            "name": "gitiles",
            "url": "https://go.googlesource.com/lint/+/refs/heads/master",
            "target": "_blank"
          }
        ],
        "ref": "refs/heads/master",
        "revision": "738671d3881b9731cc63024d5d88cf28db875626"
      }
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://go-review.googlesource.com/projects/lint/tags
    method: GET
  response:
    body: |
      )]}'
      []
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
